@{
    ViewData["Title"] = "Capitale Europene";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<link rel="stylesheet" href="~/css/start.css" />
<link rel="icon" type="image/jpg" href="~/images/steague.jpg" />
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">

<title>Turism : Capitale Europene</title>

<div class="jumbotron">
    <div class="titlupag"> Turism : Capitale Europene </div>
    <div class="container">

        <div class="main">
            <div class="1"></div>
            <div class="col_londra">
                <h2>Londra</h2>
                <div class="img1"></div>
                <a class="main_link_londra" asp-area="" asp-controller="Home" asp-action="ViziteazaLondra">VIZITEAZA</a>

            </div>

            <div class="col_paris">

                <h2>Paris</h2>
                <div class="img3"></div>
                <a class="main_link_paris" asp-area="" asp-controller="Home" asp-action="ViziteazaParis">VIZITEAZĂ</a>
            </div>

            <div class="col_roma">
                <h2>Roma</h2>
                <div class="img2"></div>
                <a class="main_link_roma" asp-area="" asp-controller="Home" asp-action="ViziteazaRoma">VIZITEAZĂ</a>

            </div>



            <div class="col_madrid">
                <h2>Madrid</h2>
                <div class="img4"></div>
                <a class="main_link_madrid" asp-area="" asp-controller="Home" asp-action="ViziteazaMadrid">VIZITEAZĂ</a>

            </div>


        </div>
    </div>
</div>
