
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Paris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("../images/paris3.jpg") !important;
    }
</style>

<center>

    <div class="titlupag">Prezentarea Capitalei</div>

</center>

<div class="camp_viziteaza">

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <center>
                            <div class="titlupag_detalii">Paris</div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/Listorie1.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Istoria Parisului</span></h2>
                    <p>Vezi mai jos o scurta istorie a Parisului!</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../images/Lstiati.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Paris: Curiozitati</span></h2>
                    <p>Vezi mai jos o serie de curiozitati despre Paris!</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/LlogoT.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Atractii turistice</span></h2>
                    <p>Vezi mai jos cele mai des vizitate obiective turistice din Paris!</p>
                </div>
            </div>
            <!-- End Service Blcoks -->
            <hr class="margin-bottom-50">
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Evul Mediu</h3>
                        <img class="img-responsive" src="../images/ile.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Clovis, regele triburilor francilor, si-a stabilit capitala aici în 508, iar de atunci a reprezentat capitala
                            Frantei până în perioada contemporană. Lutetia, ce si-a recăpătat denumirea de Paris, a început să se dezvolte
                            rapid, devenind nu doar centrul de decizii al tării, dar si gazda arhivelor regale si a Universitătii reputate
                            în întreaga Europă. Anul 1328 găseste peste 200.000 de locuitori în Paris, un număr considerabil, având în vedere
                            faptul că Londra, la acel moment, avea doar 40.000, iar Moscova numai 30.000. Moartea neagră din 1348 ucide mai
                            mult de jumătate din populatia capitalei (laolaltă cu o treime din populatia Europei occidentale), cresterea
                            ulterioară fiind lentă, ajungând la 150.000 de locuitori doar în secolul al XVI-lea. În timpul celor patru secole,
                            în care regii Frantei au lucrat la dezvoltarea Parisului, orasul a căpătat un statut important în cadrul Europei,
                            iar influenta sa a devenit atât de puternică, încât regele Carol Quintul a ajuns să declare că "Parisul nu este
                            un oras, este o lume".
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Scurta descriere</h3>
                        <img class="img-responsive" src="../images/paris15.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Paris este capitala și cel mai mare oraș din Franța. Orașul este traversat de fluviul Sena, în nordul Franței, 
                            în mijlocul regiunii Île-de-France. Orașul în limitele sale administrative este în mare parte neschimbat din anul 1860,
                            având o populație de 2.211.297 locuitori. Este una dintre cele mai populate zone metropolitane din Europa. Parisul a fost 
                            unul dintre cele mai mari orașe ale lumii occidentale pentru aproape 1000 de ani și cel mai mare oraș din lume între secolele XVI-XIX.
                        </p>
                        <p style = "text-align: justify;">
                            Numele Paris derivă de la primii săi locuitori, tribul galic cunoscut ca Parisii. Orașul era denumit Lutetia (mai complet, Lutetia
                            Parisiorum, „Lutetia Parisii-lor”), în perioada romană între secolul I și al VI-lea, dar în timpul domniei lui Iulian Apostatul
                            (360-363) numele orașului a fost schimbat în Paris.Se crede că numele provine de la numele tribului Parisii care provine din 
                            cuvântul galic parisio care înseamnă „oameni muncitori” sau „meșteșugari”.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Turnul Eiffel</h3>
                        <img class="img-responsive" src="../images/turn.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Structura a fost construită între anii 1887-1889. Aceasta urma să servească drept arc de intrare la Expozitia Universală (1889), 
                            un târg mondial ce sărbătorea centenarul Revolutiei franceze. A fost inaugurat la 31 martie 1889 si deschis pentru public la 6 mai.
                            300 de muncitori au unit 18.038 de piese de otel , folosind două milioane si jumătate de nituri. Luând în considerare standardele de
                            sigurantă din acel moment, este remarcabil faptul că un singur muncitor a murit la constructia turnului, si anume în timpul instalării
                            lifturilor. Lifturile originale functionau cu ajutorul unui sistem hidraulic, pe când lifturile actuale sunt electrice.
                            Turnul are 300 m înăltime, excluzând antena din vârf, ce mai adaugă 20 de metri, si o greutate de peste 10.000 de tone. 
                            Când a fost construit era cea mai înaltă clădire din lume. Întretinerea turnului include utilizarea a 50 de tone de vopsea maro
                            închis, la fiecare 7 ani. Turnul Eiffel îti schimbă înăltimea cu câtiva centimetri datorită 
                            contractiei si dilatării aliajului de metale.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Imperiul Francez</h3>
                        <img class="img-responsive" src="../images/parisist.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            În 1804, o dată cu ascensiunea lui Napoleon I si crearea Imperiului Francez, Parisul a devenit nu doar capitala Frantei,
                            ci si capitala Europei continentale. Principalele realizări ale revolutiei au fost conservate, în timp ce nobilitatea si
                            religia si-au reintrat în drepturi, însă fără privilegii la fel de mari. O epocă de cuceriri a marcat startul unei competitii
                            acerbe cu Anglia. Imperiul includea atunci teritoriul de astăzi al Belgiei, Olandei, Germaniei si Italiei. Austria si Spania
                            erau aliatii fortati de împrejurări, iar Rusia a fost aliatul pe termen scurt sau doar atunci când era nevoie.În 1805, 
                            Parisul - capitala Europei -, avea aproape 600.000 de locuitori, cu aproape 500.000 mai putini decât Londra!
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/paris17.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Paris și regiunea Paris, cu 552.1 miliarde € în 2009, produc mai mult de un sfert din produsul intern brut al Franței.
                            Conform estimărilor pentru 2008, aglomerația din Paris este cea mai mare din Europa sau al doilea cel mai mare pol economic
                            urban european și al șaselea ca mărime din lume. Regiunea Paris are cea mai mare concentrație de studenți (în învățământul superior)
                            din Uniunea Europeană, este prima în Europa în ceea ce privește capacitatea de cercetare și dezvoltare și este considerată una dintre
                            cele mai bune regiuni din lume pentru inovație.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Arcul de triumf</h3>
                        <img class="img-responsive" src="../images/paris18.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Monumentul este inspirat de arhitectura romană si în special de Arcul de triumf lui Janus la Roma, cu formă tetrapil.
                            În anumite aspecte se îndepărtează de modelul roman: nu includ nici o coloană si este de dimensiuni exceptionale,
                            cu 50 m înăltime, 45 m lătime si 22 m adâncime. Deasupra peretilor se afla sase basoreliefuri, care ilustrează episoade
                            marcante ale războaielor revolutionare si napoleoniene. Partea inferioară a antablamentului este decorată cu o friză, 
                            ce reprezintă plecarea si întoarcerea ale armatelor în cadrul campanii din Italia si al campanii din Egipt.Pe zidurile
                            interioare sunt înscrisi cei 558 de generali ai Imperiului.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Secolul XX</h3>
                        <img class="img-responsive" src="../images/notre.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Este secolul ce a reprezentat construirea simbolului Turnul Eiffel, primei linii de metrou, Grand Palais si Petit Palais,
                            Pont Alexandre III, Parisul trecând printr-o etapă de industrializare, mai accentuată la periferiile în care construiesc
                            gigantii Renault si Citroën. Industrializarea nu a însemnat însă reducerea nivelului artistic si începerea Belle
                            Epoque - Montmartre a devenit noua gazdă a lui Picasso, Braque sau Matisse, iar Montparnasse un punct de întâlnire pentru
                            intelectuali de toate profilurile. Din 1958 până în 1969, sub conducerea acestuia, Franta si Paris au revenit la un nivel prosper.
                            Miscarea studentească din mai 1968 a dus orasul în haos, însă fără urmări catastrofale.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/paris12.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Parisul are multe porecle, cea mai cunoscută fiind „La Ville-Lumière („Orașul Luminilor”), nume care se datorează în primul rând 
                            faimei orașului pentru faptul că era un centru de educație și al ideilor în epoca iluminismului și mai târziu datorită adoptării 
                            iluminatului stradal.De la mijlocul secolului al XIX-lea Parisul este cunoscut sub numele de Paname, în argoul parizian. Cântărețul
                            Renaud a popularizat termenul în rândul generațiilor tinere în albumul din 1976 Amoureux de Paname („Îndrăgostit de Paname”).
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Champs-Élysées</h3>
                        <img class="img-responsive" src="../images/elize.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Champs-Élysées este un bulevard important din capitala franceză Paris. Cu cinematografele, cafenelele,
                            si magazinele sale de lux, Champs-Élysées este una dintre cele mai faimoase străzi din lume.Bulevardul porneste din Place de la
                            Concorde spre fostul Place de l'Étoile (acum Place Charles de Gaulle), locatia Arcului de Triumf, formând o parte din linia
                            asa-numitei Axe historique. Champs-Élysées au fost la origine niste câmpuri, până în 1616 când Maria de Medici a decis să 
                            construiască o cărare în trei linii.La sfârsitul anilor 1700, a devenit un bulevard al modei, unde Regina Marie Antoinette
                            se plimba împreună cu curtenii săi, si unde lua lectii de muzică la Hotel Crillon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
