
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Londra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("../images/londra4.jpg") !important;
    }
</style>

<center>

    <div class="titlupag">Prezentarea Capitalei</div>

</center>

<div class="camp_viziteaza">

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <center>
                            <div class="titlupag_detalii">Londra</div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/Listorie1.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Istoria Londrei</span></h2>
                    <p>Vezi mai jos o scurta istorie a Londrei!</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../images/Lstiati.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Londra: Curiozitati</span></h2>
                    <p>Vezi mai jos o serie de curiozitati despre Londra!</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/LlogoT.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Atractii turistice</span></h2>
                    <p>Vezi mai jos cele mai des vizitate obiective turistice din Londra!</p>
                </div>
            </div>
            <!-- End Service Blcoks -->
            <hr class="margin-bottom-50">
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Inceputuri</h3>
                        <img class="img-responsive" src="../images/london.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            În conformitate cu legenda „Historia Regnum Britanniae” („Istoria Regilor britanici”)
                            de Geoffrey of Monmouth, Londra a fost întemeiată de Brutus din Troia după ce i-a învins
                            pe gigantii Gog si Magog si a fost cunoscută ca „Caer Troia”, „Troia Nova” (denumiri în
                            limba latină pentru „Noua Troia”), care, conform unei etimologii aproximative, s-a transformat
                            în Trinovantum. Trinovantes erau un trib din Epoca Fierului care a locuit în zonă înainte
                            de venirea romanilor. Geoffrey îi atribuie Londrei preistorice un sir de regi legendari
                            ca Regele Lud, fiul lui Heli, care, asa cum sustine autorul, i-a dat asezării numele „CaerLudein”,
                            de la care derivă denumirea de Londra, si care a fost înmormântat la Ludgate.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Scurta descriere</h3>
                        <img class="img-responsive" src="../images/londra3.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Londra este capitala Angliei și a Regatului Unit. Este cel mai important centru politic, financiar (datorită City-ului),
                            cultural și artistic al Regatului Unit, și unul dintre cele mai importante orașe ale lumii.Simbolul Londrei este Big Ben-ul,
                            turnul cu ceas al Palatului Parlamentului, construit în secolul al XIX-lea în stil neogotic.Există o imensă diversitate de etnii,
                            culturi și religii, Londra fiind unul din cele mai cosmopolite orașe din Europa și din lume.Inițial o așezare întemeiată de celți,
                            a fost capitala provinciei romane Britannia, având numele de Londinium și a devenit capitala Angliei de la sfârșitul secolului al XI-lea.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Turnul Londrei</h3>
                        <img class="img-responsive" src="../images/turnlondra.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Palatul Regal si Cetatea Majestătii Sale, denumit si Turnul Londrei, este un castel istoric aflat pe malul nordic al Tamisei în
                            centrul Londrei. El se află în burgul londonez Tower Hamlets, separat de marginea estică a City of London de un spatiu deschis
                            denumit Dealul Turnului (Tower Hill). Constructia sa a început spre sfârsitul lui 1066 în contextul cuceririi normande a Angliei.
                            Turnul Alb, de la care îsi trage numele întreg castelul, a fost construit de William Cuceritorul în 1078, si a fost dispretuit ca
                            simbol al oprimării locuitorilor Londrei de noua elită conducătoare.Turnul Londrei a jucat un rol proeminent în istoria Angliei.
                            A fost asediat de mai multe ori si controlul asupra sa era important pentru dominatia asupra tării.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Evul Mediu</h3>
                        <img class="img-responsive" src="../images/london2.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Ocupantii normanzi au construit noi fortărete în oras pentru a domina populatia locală. De departe cel mai important dintre acestea a fost
                            Turnul Londrei (the Tower of London) care a fost amplasat în marginea de est a orasului unde fortificatiile initiale din lemn au fost rapid
                            înlocuite de primul castel de piatră din Anglia. Forturile mai mici ale Castelului Baynard si ale Castelului Montfichet au fost deasemenea
                            construite de-a lungul apei.In anul 1176 a început constructia celei mai faimoase forme a Podului Londrei (care a fost terminat în 1209).
                            Acesta a fost construit în locul câtorva poduri de lemn. Podul va rezista 600 de ani si va rămâne singurul pod peste Tamisa până în 1739.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/anglia.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Londra acoperă o suprafață de 1579 km². Londra este port pe Tamisa. Râul a avut o influență majoră în dezvoltarea orașului.
                            Orașul a fost fondat pe malul de nord, iar până în secolul al XVIII-lea nu a existat decât un singur pod, Podul Londrei,
                            ceea ce a făcut ca orașul să se dezvolte foarte mult la nord de râu.
                        </p>
                        <p>
                            West End ("Capătul de vest" - al vechiului oraș) este districtul comercial și de divertisment al Londrei. Piața Trafalgar
                            este cel mai important obiectiv.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Catedrala Saint Paul</h3>
                        <img class="img-responsive" src="../images/catlondra.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Catedrala Saint Paul este o biserică anglicană situată pe colina Ludgate Hill din Londra Marea Britanie. Aceasta este cea mai
                            mare biserică din Londra si a doua cea mai mare din această tară, după Catedrala din Liverpool. Catedrala Sfântul Paul este
                            totodată si lăcasul în care slujeste episcopul anglican al Londrei. Pe locul actualei catedrale au existat de-a lungul timpului
                            mai multe edifici. Prima biserică a fost construită în anul 604 de către Mellitus, cu ocazia investirii sale ca prim episcop de
                            Londra de către Sfântul Augustin. Aceasta a fost dedicată Sfântului Paul si a avut rolul de catedrală a Londrei. Catedrala ar fi
                            fost distrusă probabil de un incendiu, fiind reconstruită de două ori până în anul 1087.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Secolele XVI-XX</h3>
                        <img class="img-responsive" src="../images/london3.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Între secolele al XVI-lea si al XX-lea, Londra a înflorit, fiind capitală a Imperiului Britanic. Marele incendiu din 1666 a distrus
                            o mare parte a orasului. Reconstructia a durat peste 10 ani si a fost condusă de Sir Christopher Wren, care, cu acea ocazie, a proiectat
                            si construit multe din clădirile emblematice ale Londrei de astăzi, asa cum ar fi spre exemplu Catedrala Sf. Paul. Cresterea orasului s-a
                            accelerat în secolul al XVIII-lea, astfel că la începtul anilor 1800 Londra era cel mai mare oras al lumii. Bombardamentele naziste din
                            timpul celui de-al doilea război mondial au condus, pe lîngă pierderea a peste 30.000 de vieti, la distrugerea multor clădiri vechi. Reconstructia
                            din următoarele decenii a dat prilejul folosirii a numeroase stiluri arhitectonice moderne, care dau orasului pe alocuri un caracter eclectic.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/londra6.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            City of London ("Cetatea Londrei") este centrul istoric al orașului, și în același timp cel mai important cartier financiar al Regatului Unit.
                            Este administrat de către Corporația Londrei, condusă de Lordul Primar al Londrei. City-ul deține propriul corp de poliție, separat de Poliția Metropolitană.
                        </p>
                        <p style = "text-align: justify;">
                            Oxford Street este una dintre cele mai cunoscute străzi pentru cumpărături, pe care se găsesc numeroase supermagazine celebre (Selfridges, John Lewis, Marks and Spencer).
                        </p>
                        <p style = "text-align: justify;">
                            Centrul orasului se afla intr-o biserica. Daca esti in cautarea punctului 0 al Londrei n-ai sa-l gasesti in vreo piata cu renume, ci intr-un lacas de cult. 
                            Biserica Anglicana St Martin in the Fields este situata in nord-estul Trafalgar Square si adaposteste in interiorul sau un monument ce marcheaza centrul Londrei.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Roata din Londra</h3>
                        <img class="img-responsive" src="../images/londonr.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            The London Eye, Ochiul Londrei, numit si Millenium Wheel, Roata Mileniului, o roata gigantica de 135 de metri, cantarind cat 250 de autobuze cu doua nivele,
                            se afla lânga Gradinile Jubilee, pe The South Bank (malul sudic al Tamisei), între podurile Westminster si Hungerford.Acest ingenios carusel a fost deschis
                            în luna martie a anului 2000 si a devenit în scurt timp un simbol al Marii Britanii moderne dar si una din cele mai populare atractii turistice, cu peste
                            3,5 milioane de vizitatori pe an, revigorând astfel întreaga zona. Aceasta roata are 32 de capsule, fiecare dintre acestea cântarind zece tone. Greutatea
                            totala a rotii si a capsulelor este de 2100 de tone. Într-o capsula încap aproximativ 25 de oameni. În timpul unei rotatii – care este însa foarte lenta,
                            aproximativ 30 minute, poate transporta 800 de persoane.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
