
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Roma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("../images/roma9.jpg") !important;
    }
</style>

<center>

    <div class="titlupag">Prezentarea Capitalei</div>

</center>

<div class="camp_viziteaza">

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <center>
                            <div class="titlupag_detalii">Roma</div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/Listorie1.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Istoria Romei</span></h2>
                    <p>Vezi mai jos o scurta istorie a Romei!</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../images/Lstiati.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Roma: Curiozitati</span></h2>
                    <p>Vezi mai jos o serie de curiozitati despre Roma!</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/LlogoT.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Atractii turistice</span></h2>
                    <p>Vezi mai jos cele mai des vizitate obiective turistice din Roma!</p>
                </div>
            </div>
            <!-- End Service Blcoks -->
            <hr class="margin-bottom-50">
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>De la fondare la imperiu</h3>
                        <img class="img-responsive" src="../images/roma6.png" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Conform legendei, Roma a fost întemeiata de gemenii Romulus si Remus pe 21 aprilie 753 î.Hr., si dovezile arheologice sprijina
                            teoria conform careia Roma s-a dezvoltat pornind de la asezari pastorale pe Dealul Palatin, construite în zona viitorului
                            Forum Roman, si care au stat la baza noului oras în secolul VIII î.Hr. Orasul avea sa devina capitala Regatului Roman (condus
                            de o succesiune de sapte regi, conform traditiei), a Republicii Romane (din 509 î.Hr.-27 î.Hr., guvernata de Senat), si, în
                            final, a Imp. Roman (din 27 î.Hr., condus de un împarat). De la fondarea Romei în 753 î.Hr., orasul a ramas neînfrânt
                            din punct de vedere militar (desi a pierdut câteva batalii), pâna în 386 î.Hr., când Roma a fost ocupata de celti (unul dintre 
                            cele trei triburi principale ale galilor) si, apoi, recuperata de romani în acelasi an.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Scurta descriere</h3>
                        <img class="img-responsive" src="../images/roma2.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Roma este capitala Italiei. Situat pe malul fluviului Tibru, orașul are o istorie îndelungată fiind de-a lungul secolelor capitala
                            Republicii Romane, a Imperiului Roman, a Bisericii Romano-Catolice și a Italiei moderne. Roma are o populație de 2.923.000 persoane.
                            Este capitala regiunii Lazio și a Provinciei Roma. Primarul Romei este Ignazio Marino. Roma este un important centru turistic.
                            Printre monumentele cele mai faimoase se numără Colosseumul și Columna lui Traian. O enclavă a Romei este și statul Vatican,
                            un teritoriu suveran al Sfântului Scaun situat într-un cartier roman. Este cel mai mic stat din lume, și capitala singurei religii
                            care are reprezentație în Națiunile Unite.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Colosseumul din Roma</h3>
                        <img class="img-responsive" src="../images/roma10.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Colosseumul este un monument turistic aflat in centrul Romei vizitat de foarte multi turisti din toata lumea. El este probabil cea
                            mai impresionanta cladire-ruina a Imperiului Roman. Colosseumul era cea mai mare constructie a vremurilor sale si astazi este cel
                            mai mare amfiteatru antic care poate fi vizitat in Italia. Spre deosebire de amfiteatrele construite anterior între doua dealuri,
                            Colosseumul este o structura autonoma, în întregime construita. Planul sau este eliptic, având 189 m lungime si 156 m latime, aria
                            sa fiind de 6 ha. Înaltimea zidului exterior este de 48 m. Perimetrul originar masoara 545 m. Arena centrala este ovala, având 86 m
                            lungime si 156 m latime, înconjurata de un zid de 4,5 m înaltime, care se ridica pâna la nivelul primelor rânduri pentru spectatori.                         
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Caderea imperiului</h3>
                        <img class="img-responsive" src="../images/roma7.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            În timpul domniei lui Constantin I, episcopul de Roma a capatat atât importanta religioasa, cât si politica, pâna la urma ajungând
                            sa fie cunoscut drept Papa si stabilind Roma ca centru al Bisericii Catolice. În urma pradarii Romei din 410 de catre Alaric I si
                            caderii Imperiului Roman de Apus în 476 d.Hr., Roma a alternat între Imperiul Bizantin si jafurile barbarilor germanici. Populatia 
                            ei a scazut pâna la a ajunge la doar 20.000 de oameni în timpul Evului Mediu Timpuriu, reducând orasul cândva înfloritor la grupuri 
                            de cladiri locuite, dispersate de-a lungul unor arii extinse de ruine si vegetasie. Roma a facut în mod nominal parte din Imperiul 
                            Bizantin pâna în 751 d.Hr.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/roma1.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Unul dintre simbolurile Romei este Colosseumul (70-80 d.Hr.), cel mai mare amfiteatru construit vreodată în Imperiul Roman. Având, inițial,
                            o capacitate de 60.000 de spectatori, a fost folosit pentru lupte între gladiatori. Lista monumentelor foarte importante ale Romei antice
                            include Forumul Roman, Domus Aurea, Panteonul, Columna lui Traian, Piața lui Traian, zonele catacombelor, Circus Maximus, Băile lui Caracalla,
                            Castelul Sant'Angelo, Mausoleul lui Augustus, Ara Pacis, Arcul lui Constantin, Piramida lui Cestius și Bocca della Verità.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Forul Roman</h3>
                        <img class="img-responsive" src="../images/roma12.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Forul Roman (în latina: Forum Romanum, desi romanii îl mentionau de obicei Forum Magnum sau doar Forum) a fost un for al orasului Roma,
                            în jurul zonei centrale a orasului vechi, situat între Dealul Capitolului si Dealul Palatinilor si unde aveau loc activitati de comert,
                            afaceri,religie si administrarea justitiei. Dupa cercetarea sedimentelor a reiesit ca o parte din forum era deja construit în primele
                            zile ale Republicii. Initial acolo a fost o mlastina, care a fost secata în secolul al VII-lea î.Hr. unde s-a construit Cloaca maxima,
                            un mare sistem de canalizare care ducea apa în râul Tibru, astfel încât tot mai multe persoane au început sa se stabileasca între cele
                            doua dealuri.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Secolul XX</h3>
                        <img class="img-responsive" src="../images/roma8.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Dupa victoria din Primul Razboi Mondial, Roma a fost martora ascensiunii fascismului italian condus de Benito Mussolini, care a intrat
                            în oras în 1922, proclamând un nou imperiu si aliind Italia cu Germania nazista. A fost o perioada de crestere rapida a populatiei, de
                            la 212.000 pe timpul unificarii la peste 1.000.000, dar aceasta tendinta a fost stopata de Al Doilea Razboi Mondial, timp în care Roma 
                            a fost afectata de bombardamentele Aliatilor si de ocupatia nazista; dupa executarea lui Mussolini si sfârsitul conflictului, un referendum
                            din 1946 a abolit monarhia si a decis crearea Republicii Italiene. Roma a crescut spectaculos dupa razboi, fiind una dintre locomotivele
                            "miracolului economic italian" din timpul reconstructiei si modernizarii postbelice.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/roma4.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Roma, Caput mundi („Capitala lumii”), la Città Eterna („Orașul etern”), Limen Apostolorum („Pragul apostolilor”), la città dei sette
                            colli („Orașul celor șapte coline”) sau, pur și simplu, l'Urbe („Orașul”), este profund modernă și cosmopolită. Ca unul dintre puținele
                            orașe mari ale Europei care a supraviețuit celui de-al Doilea Război Mondial relativ puțin afectat, centrul Romei rămâne renascentist
                            și baroc în esența sa. Centrul Istoric al Romei este pe lista patrimoniului mondial UNESCO.
                        </p>
                        <p style = "text-align: justify;">
                            Roma este situată în partea central-vestică a Peninsulei Italice, pe cursul inferior al fluviului Tibru. Este împărțită în patru
                            districte, 15 municipii și 155 de zone metropolitane.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Bazilica Sfântul Petru</h3>
                        <img class="img-responsive" src="../images/roma13.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Bazilica Sfântul Petru (în italiana Basilica di San Pietro) din Roma se gaseste în Cetatea Vaticanului, înauntrul statului pontifical,
                            în monumentala Piazza San Pietro. Edificiul, lung de 186 metri, înaltimea cupolei de 119 metri, si cu o suprafata totala de peste
                            15.000 m˛, este cea mai mare biserica din lume. Bazilica Sfântul Petru este una din cele patru bazilici patriarhale din Roma,
                            alaturi de Bazilica San Giovanni in Laterano, Bazilica Santa Maria Maggiore si Bazilica Sfântul Paul din afara zidurilor.
                            Fatada în stil baroc este dominata de statuile Mântuitorului, a sfântului Ioan Botezatorul si a 11 apostoli (cea a sfântului Petru
                            se gaseste în interior).În mijloc se afla loggia binecuvântarii papilor, de unde este împartita binecuvântarea festiva "urbi et orbi".
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
