
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Madrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("../images/madrid-1.jpg") !important;
    }
</style>

<center>

    <div class="titlupag">Prezentarea Capitalei</div>

</center>

<div class="camp_viziteaza">

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <center>
                            <div class="titlupag_detalii">Madrid</div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row service-v1 margin-bottom-40">
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/Listorie1.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Istoria Madridului</span></h2>
                    <p>Vezi mai jos o scurta istorie a Madridului!</p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="../images/Lstiati.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Madrid: Curiozitati</span></h2>
                    <p>Vezi mai jos o serie de curiozitati despre Madrid!</p>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <img class="img-responsive" src="../images/LlogoT.jpg" height="170px" width="300px" alt="">
                    <hr class="margin-bottom-50">
                    <h2><span style="color:cadetblue">Atractii turistice</span></h2>
                    <p>Vezi mai jos cele mai des vizitate obiective turistice din Madrid!</p>
                </div>
            </div>
            <!-- End Service Blcoks -->
            <hr class="margin-bottom-50">
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Epoca vizigotă</h3>
                        <img class="img-responsive" src="../images/istoria-1.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Cucerirea, colonizarea si pacificarea peninsulei Iberice, realizate de Imperiul Roman, au durat aproape 200 de ani,
                            de la al doilea război punic până în 27 î.Hr., când a avut loc pacificarea nordului peninsulei, si organizarea lui în
                            trei provincii. Regiunea din care face parte Madridul de astăzi corespunde cu Tarraconensis. Desi este posibil că, pe 
                            timpul stăpânirii romane, teritoriul Madridului nu era ocupat decât de asezăriezări rurale, profitând de situatia sa 
                            ca nod de comunicatie si de bogătia resurselor, există totusi dovezi care sugerează existenta unei asezări orăsenesti,
                            în jurul drumului Segoviei si tărmului râului Manzanares.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Scurta descriere</h3>
                        <img class="img-responsive" src="../images/madrid-6.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Madrid este capitala Spaniei. Construit pe ruinele unui fort maur numit Magerit, orașul a devenit capitală în 1561,
                            în timpul domniei lui Filip al II-lea de Habsburg. Ca urmare Madrid a devenit un oraș înfloritor.Are o excelenta
                            pozitie strategica, in inima tarii, dandu-i posibilitatea de a controla toate drumurile dintr-o parte in alta a Spaniei.
                            Adevarata caracatita a comunicatiilor trimitandu-si, spre margini, tentaculele cailor feroviare si rutiere. Alte orașe 
                            învecinate sunt populare pentru călătoriile de o zi din Madrid, incluzând Toledo, Segovia, Ávila, Aranjuez, Alcalá de Henares,
                            mănăstirea și complexul de palate de la El Escorial, și Santa Cruz del Valle de los Caídos.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Palatul Regal</h3>
                        <img class="img-responsive" src="../images/turist1.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Palatul Regal sau Palacio Real este cel mai mare si cu siguranta unul dintre cele mai impresionante palate din Europa.
                            Are peste 2000 de camere decorate in modul cel mai luxos cu putinta, dintre care 50 pot fi vizitate. Este situat in estul
                            centrului istoric al orasului Madrid si destul de aproape de Plaza de Espana. Vizitatorii intra in Palatul Regal prin Plaza de la Armeria.
                            Printre camerele somptuoase accesibile vizitatorilor se numara o sufragerie de 400 de metri patrati, Sala de Porcelana 
                            (camera chinezeasca) si Salon del Trono (camera tronului) cu pereti din matase rosie. Palatul include si Armeria Real,
                            Muzeul Armatei Regale.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Epoca musulmană</h3>
                        <img class="img-responsive" src="../images/istoria-2.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Primele documente istorice privind existenta unei asezări permanente datează din epoca musulmană. În a doua jumătate a
                            secolului al IX-lea, Mohamed I (852-886), emirul de Cordoba, construieste o fortăreată pe un promontoriu de lângă râu
                            (în locul ocupat astăzi de Palatul Regal), cu scopul de a vigila pasurile muntelui Guadarrama, si de a fi locul de unde
                            să pornească razii împotriva regatelor crestine din nord. Alături de fortăreată, mai la sud, se dezvoltă si o asezare umană.
                            Această asezare primeste numele de Mayrit, al cărui înteles nu este clar, dar pare a fi un hibrid între două toponime
                            foarte asemănătoare : unul mozarab, matrice (fântână), si celălalt arab, majra, care înseamnă albia unui râu.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/madrid-7.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Madrid este cunoscut și pentru viața sa de noapte și discotecile sale; pentru madrileni nu este ieșit din comun
                            să danseze toată noaptea, iar apoi dimineața să meargă la muncă. Această viață de noapte numită la movida,
                            a înflorit după moartea lui Franco.
                        </p>
                        <p style = "text-align: justify;">
                            Mănăstirea și Escorialul din Madrid au fost înscrise în anul 1984 pe lista patrimoniului cultural mondial UNESCO. 
                            În centrul Madridului, în Plaza de Castilla, se află 4 zgârie-nori cu înălțimi cuprinse între 236 și 250 metri.
                        </p>
                        <p style = "text-align: justify;">
                            Cel mai vechi restaurant din lume, numit „Casa Botin”, deschis în 1725 și înscris în Guiness Book, este situat în Madrid.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Plaza Puerta del Sol</h3>
                        <img class="img-responsive" src="../images/turist2.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Plaza Puerta del Sol este punctul perfect de pornire in explorarea orasului Madrid. Aceasta piata aglomerata,
                            central situata este unul dintre locurile cele mai pline de viata din oras. Acum Puerta del Sol este inima
                            centrului istoric din Madrid, dar in trecut locul era la marginea din partea de est a orasului. Numele pietei
                            provine de la poarta de est a orasului ce exista aici in secolul al 15-lea. Poarta era probabil numita asa dupa
                            soarele desenat pe ea – Puerta del Sol sau Poarta Soarelui. Piateta semi-ovala din prezent a fost creata in secolul al 19-lea.
                            In mijlocul pietei se gaseste o statuie mare ecvestra a Regelui Carlos al III-lea. Regele are privirea indreptata spre o cladire
                            superba din caramida rosie ce dateaza din secolul al 18-lea, ce a fost candva posta principala din Madrid.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Cucerirea crestina</h3>
                        <img class="img-responsive" src="../images/istoria-3.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            După regatul musulman de la Toledo a fost cucerit de Alfonso al VI-lea de Leon si Castilia, orasul Madrid
                            a intrat sub controlul forselor crestine în 1085, fără ca acestea să întâmpine rezistensă. Orasul si
                            împrejurimile sale au fost încorporate de regatul Castiliei. Crestinii i-au înlocuit pe musulmani în 
                            centrul orasului, arabii ajungând să trăiască în cartiere periferice. A existat si un cartier de evrei 
                            în zona care avea să ajungă cartierul Lavapies. În secolul următor, Madrid a continuat să fie atacat de 
                            puterile musulmane din peninsulă, almoravizii dând foc la oras în 1109, iar almohazii asediindu-l în 1197.
                            Victoria crestinilor în Las Navas de Tolosa a însemnat sfârsitul influensei musulmane în centrul peninsulei Iberice.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Stiai ca... ?</h3>
                        <img class="img-responsive" src="../images/madrid-4.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Madrid a devenit capitală de trei ori. Prima dată s-a întâmplat în 1561, când regele Filip al II-lea l-a ales
                            ca reședință din cauza locației sale excelente. În 1601 capitala Spaniei era la Valladolid, dar după cinci ani
                            Madridul și-a revendicat titlul. În 1936, s-a decis mutarea capitalei Spaniei în Valencia, dar doi ani mai târziu
                            Madrid a devenit din nou capitală.
                        </p>
                        <p style = "text-align: justify;">
                            În capitala Spaniei se află unul dintre cele mai cunoscute trei muzee ale lumii, alături de Hermitage și British Museum.
                            Muzeul Prado adăpostește o sumedenie de tablouri impresionante.
                        </p>
                        <p style = "text-align: justify;">
                            În Madrid puteți găsi unul dintre cele mai mari parcuri acvatice din Europa: Aquasur.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                    <div class="info-blocks-in">
                        <h3>Muzeul Prado</h3>
                        <img class="img-responsive" src="../images/turist3.jpg" height="200px" width="340px" alt="">
                        <p style = "text-align: justify;">
                            Muzeul Prado se bucura de un mare prestigiu fiindunul dintre obiectivele turistice cele mai vizitate din Madrid,
                            captand atentia iubitorilor de arta din intreaga lume datorita colectiei sale foarte bogate si variate. Colectia
                            permanenta a Muzeului Prado este una dintre cele mai mari din lume. Este formata din aproximativ 9000 de tablouri,
                            5000 de desene, 2000 de tiparituri, 1000 de monede si medalii, si aproximativ 2000 de obiecte decorative.
                            Prado detine cea mai deosebita colectie de arta spaniola, cu multe opere ale lui El Greco, Velazquez, Goya si Murillo.
                            Vizitatorii pot admira si o colectie de lucrari ale pictorului flamand Peter Paul Rubens si ale pictorului olandez 
                            Hieronymus Bosch dar si niste capodopere ale pictorilor italieni.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
