@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />


<center>

    <div class="titlupag_detalii">Conectare</div>

</center>

<div class="col-md-4">
    <div class="camp1">
        <div class="camplogin">
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button onclick='foo();' type="submit" class="btn btn-primary">Conectare</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Creaza-ti un cont :)</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script>
    function foo() {
        alert('Conectarea a fost facuta cu Succes!');
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
