
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@model Turismul_In_Capitalele_Europene.Models.Nivel

@{
    ViewData["Title"] = "Create";
}

<center>

    <div class="titlupag">Creare Nivel</div>

</center>

<div class="col-md-4">
    <div class="camp1">
        <div class="camp">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Denumire" class="control-label"></label>
                    <input asp-for="Denumire" class="form-control" />
                    <span asp-validation-for="Denumire" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Punctaj_min" class="control-label"></label>
                    <input asp-for="Punctaj_min" class="form-control" />
                    <span asp-validation-for="Punctaj_min" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Punctaj_max" class="control-label"></label>
                    <input asp-for="Punctaj_max" class="form-control" />
                    <span asp-validation-for="Punctaj_max" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="btn">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
